* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
}

body {
  background-color: #282c34;
}

button {
  color: #09d3ac;
  background-color: #3E424B;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  font-weight: bold;
  display: block;
}

button:active {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-logo {
  height: 5em;
}

.Nav {
  margin-top: 0;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 0 1em ;
  border-bottom: #09d3ac solid 2px;
}

.Nav-logo {
  display: flex;
}

.Nav-logo > li {
  list-style-type: none;
  margin: auto;
}

.Nav-links {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
}

.Nav-links > li {
  list-style-type: none;
  margin: 0 0 0 2.5em;
}

.Nav-link {
  font-size: xx-large;
  text-decoration: none;
  color: #09d3ac;
}

.Nav-link:visited {
  text-decoration: none;
  color: #09d3ac;
}

.Page {
  background-color: #282c34;
  color: white;
  text-align: left;
  margin: 5em;
  font-size: large;
}

.Page h1 {
  color: #09d3ac;
  font-size: xx-large;
  margin: 1.5em 0 0.5em 0;
}

.Page h2 {
  color: #09d3ac;
  font-size: x-large;
  margin: 0.5em 0;
}

.Page p {
  margin: 0 0 0.5em;
}